.container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    color: white;
    display: flex;
    justify-content: center;
}

.dialogues {
    max-width: 700px;
}

.container a {
    color: rgb(146, 195, 255);
}

.container .btn-scroll {
    width: fit-content;
    height: fit-content;
    padding: 0;
    position: fixed;
    bottom: 15px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 900;
    font-size: 150%;
    cursor: pointer;
}

@media (max-width:768px) {
    .container p {
        font-size: 4vmin;
    }
}