.cell {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid rgb(235, 235, 235);
}

.blancas {
    background-color: bisque;
}

.negras {
    background-color: brown;
}

.cell:hover {
    border: 3px solid orange;
}

.shadow {
    box-shadow: 0 0 0 100px rgba(255, 165, 0, 1) inset;
}

.draggable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.draggable:active {
    cursor: grabbing;
}

