.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0;
    /* border: 1px solid white; */
    /* min-height: calc(3rem + 2px); */
    width: fit-content;
}

.row {
    display: flex;
    flex-wrap: wrap;
}