@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.container {
    width: 100vw;
    /* min-height: calc(100vh - 6vmin); */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 40px; */
}

.board {
    padding: 1rem;
    width: 60%;
    /* border: 1px solid green; */
    flex-grow: 2;
}

.info {
    padding: 1rem;
    width: 40%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    /* max-height: calc(100vh - 8vmin);
    overflow-y: scroll; */
}

.info-player {
    margin: 0.5rem;
    width: calc(100% - 2rem);
}

.history {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
    width: calc(100% - 2rem);
}

.history-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0.5rem 0;
    padding: 0 0 0 0;
    /* justify-content: center; */
}

.history-btn {
    background-color: rgb(91, 91, 91);
    border: 1px solid grey;
    color: white;
    outline: none;
    border-radius: 7px;
    padding: 0 0.5rem;
    margin: 0.5rem;
    /* margin-bottom: 0.5rem; */
    cursor: pointer;
}

/* show last N moves (rows) */
/* 0.5rem + (N+1)*1rem + N*4px + 1rem */
.history-last-1 {
    max-height: calc(1rem + 4px);
    overflow-y: scroll;
}
.history-last-3 {
    max-height: calc(3rem + 12px);
    overflow-y: scroll;
}
.history-last-10 {
    max-height: calc(10rem + 40px);
    overflow-y: scroll;
}

.history-row {
    margin: 0 0 2px 0;
    font-family: monospace;
}

.history-icon {
    display: inline-block;
    width: 3rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.black-bgnd {
    background-color: black;
    color: white;
}

.white-bgnd {
    background-color: white;
    color: black;
}

.nowplaying {
    display: flex;
    gap: 13px;
    flex-direction: row;
    align-items: center;
}

.nowplaying div {
    width: 250px;
    height: 100%;
    border-radius: 5px;
    text-align: center;
}

.hide {
    display: none;
}

.black {
    padding-left: 5px;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.white {
    padding-left: 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.player {
    font-family: 'Koulen', cursive;
    font-size: 19pt;
    margin: 0;
    padding: 0;
    height: 100%;
}

.timer {
    font-family: 'Koulen', cursive;
    width: 100px;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(56, 56, 56);
    border-radius: 5px;
    animation-name: time;
    animation-duration: 0.7s;
}


@keyframes time {
    0%   {transform: scale(0);}
    100%  {transform: scale(1);}
    /* 66% {width: 60px; transform: scale(0.5);}
    100%  {width: 60px; transform: scale(1);} */
  }

@media (min-width: 1000px) {
    .info {
        max-height: calc(100vh - 8vmin);
        overflow-y: scroll;
    }

    /* .history {
        max-height: calc(45vh - 8vmin);
        overflow-y: scroll;
    } */
}

@media (max-width: 1000px) {
    .board {
        width: 100%;
        height: 100%;
    }

    .info {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

    .player {
        font-size: 5vmin;
    }

    .timer {
        font-size: 5vmin;
    }

    .nowplaying {
        height: calc(9vmin);
    }

    .nowplaying div {
        width: 350px;
        height: 100%;
    }
}