@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.container {
    width: 100vw;
    /* min-height: calc(100vh - 6vmin); */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 40px; */
}

.board {
    padding: 1rem;
    width: 60%;
    /* border: 1px solid green; */
    flex-grow: 2;
}

.info {
    /* padding: 1rem; */
    width: 40%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}

.info-config {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(194, 194, 194);
    padding-bottom: 1.2rem;
    margin: 1rem 1rem 2rem 0;
}

.config-btn {
    margin: 0.5rem 2rem 1rem 1rem;
    padding: 0.7rem 2rem 0.5rem 1rem;
    width: fit-content;
    font-size: 2.7vmin;
    /* font-weight: bold; */
    background-color: white;
    outline: none;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px #888888
}

.hide {
    display: none;
}

.info-status {
    display: flex;
    flex-direction: column;
}

.help {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.config {
    padding: 0.5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    font-size: 4vmin;
}

.config-options {
    border-left: 2px solid rgb(189, 189, 189);
    margin-left: 1rem;
    padding-left: 1rem;
}

.config-options input {
    margin-right: 1rem;
}

.help {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1rem 0.5rem 1rem;
}

.help-instructions {
    display: flex;
    flex-direction: column;
    font-size: 2.7vmin;
    width: fit-content; 
    border-left: 2px solid rgb(189, 189, 189);
    margin-left: 1rem;
    padding-left: 1rem;
}

.help p {
    color: rgb(75, 75, 75);
    padding: 0;
    margin: 0.5rem 0;
}

.help p span {
    color: black;
}

.label-help {
    display: flex;
    font-size: 3vmin;
    width: fit-content;
    outline: none;
    margin: 0.7rem 0;
    color: rgb(75, 75, 75);
}

.label-help input {
    outline: none;
}

.info-player {
    margin: 0.5rem;
    width: calc(100% - 2rem);
}

.nowplaying {
    display: flex;
    gap: 13px;
    flex-direction: row;
    align-items: center;
}

.nowplaying div {
    width: 250px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
}

.hide {
    display: none;
}

.black {
    padding-left: 5px;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.white {
    padding-left: 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.player {
    font-family: 'Koulen', cursive;
    font-size: 19pt;
    margin: 0;
    padding: 0;
}

.timer {
    font-family: 'Koulen', cursive;
    width: 100px;
    height: 45px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(56, 56, 56);
    border-radius: 5px;
    animation-name: time;
    animation-duration: 0.7s;
}


@keyframes time {
    0%   {transform: scale(0);}
    100%  {transform: scale(1);}
    /* 66% {width: 60px; transform: scale(0.5);}
    100%  {width: 60px; transform: scale(1);} */
  }

@media (max-width: 1000px) {
    .board {
        width: 100%;
        height: 100%;
    }

    .info {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }
}
