@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.container {
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* gap: 40px; */
}

.board {
    padding: 1rem;
    width: calc(50% - 0px);
    min-width: 482px;
    /* border: 3px solid green; */
    flex-grow: 2;
    border-right: 2px solid grey;
}

.config {
    padding: 1rem;
    width: calc(50% - 0px);
    border: 3px solid blue;
}

.nowplaying {
    display: flex;
    gap: 13px;
    flex-direction: row;
    align-items: center;
}

.nowplaying div {
    width: 130px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
}

.black {
    padding-left: 5px;
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: color 0.85s;
}

.white {
    padding-left: 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: color 0.85s;
}

.player {
    font-family: 'Koulen', cursive;
    font-size: larger;
    margin: auto;
    padding: 0;
}

.timer {
    font-family: 'Koulen', cursive;
    width: 60px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    animation-name: time;
    animation-duration: 1s;
}


@keyframes time {
    0%   {width: 60px; transform: rotate(0deg);}
    50%  {width: 60px; transform: rotate(180deg);}
    100% {width: 60px; transform: rotate(180deg);}
  }

@media (max-width: 1000px) and (orientation: landscape) {
    .board {
        width: calc(100vh - 2rem + 2px);
        height: calc(100vh - 2rem + 2px);
    }

    .config {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }
}

@media (max-width: 1000px) and (orientation: portrait) {
    .board {
        width: calc(100vw - 2rem + 2px);
        height: calc(100vw - 2rem + 2px);
    }

    .config {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }
}