.container {
    display: flex;
    align-items: center;
    border-left: 2px solid rgb(194, 194, 194);
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.pieces {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-right: 1rem;
    gap: 4px;
    cursor: pointer;
}

.pieces img {
    /* object-fit: fill; */
    width: 35px;
    max-width: calc(8% - 4px);
}

.container button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: fit-content;
    font-size: 2.7vmin;
    /* font-weight: bold; */
    background-color: white;
    outline: none;
    /* border: 1px solid rgb(196, 196, 196); */
    border: none;
    /* background-color: rgb(95, 95, 95); */
    background-color: transparent;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}